<section>
 <% if flash[:success] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
<%= link_to 'New Post', new_post_path %>
  <%= render partial: 'shared/user_display', locals: {user: @user} %>
  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <%= render @user.posts %>
  </div>
</section>