<h1>NEW POST</h1>
<% if flash[:fail] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
<%= form_with model: @post, url: create_post_path, method: :post, scope: :post, local: true do |form| %>
  # TODO: Add fields
  <div>
    <%= form.label 'Title:' %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label 'Content:' %>
    <%= form.text_area :text, size: "70x5" %>
  </div>
   <%= form.submit "Create" %>
<% end %>